<odoo>

    <!-- Root menu -->
    <menuitem
            id="menu_hospital"
            name="Hospital For Practice"
            web_icon="practice,static/description/icon.png"/>

    <!--    menu Patient-->
    <menuitem id="menu_patient"
              name="Patient"
              parent="menu_hospital"
              action="action_patient"
              sequence="1"
    />

    <menuitem
            id="menu_billing"
            name="Billing Menu"
            parent="menu_hospital"
    />

    <!--    menu Specialization-->
    <menuitem id="menu_dr_specialization"
              name="Specialization"
              parent="menu_hospital"
              action="action_specialization"
              sequence="3"
    />

    <!--  main doctor  menu -->
    <menuitem id="menu_doctor"
              name="Doctors"
              parent="menu_hospital"
              action="action_doctor"
              sequence="2"
    />

    <menuitem
            id="menu_invoice"
            name="Invoice"
            parent="menu_billing"
            action="account.action_move_out_invoice_type"
    />

    <menuitem
            id="menu_payment"
            name="Payment"
            parent="menu_billing"
            action="account.action_account_payments"
    />


</odoo>
