<odoo>

    <!-- Root menu -->
    <menuitem
            id="menu_hospital"
            name="Hospital For Practice"
            web_icon="practice,static/description/icon.png"/>

    <!--    menu Patient-->
    <menuitem id="menu_patient"
              name="Patient"
              parent="menu_hospital"
              action="action_patient"/>

    <!--    menu Specialization-->
    <menuitem id="menu_dr_specialization"
              name="Specialization"
              parent="menu_hospital"
              action="action_specialization"/>

    <!--  main doctor  menu -->
    <menuitem id="menu_doctor"
              name="Doctors"
              parent="menu_hospital"
              action="action_doctor"/>

</odoo>
