<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <!-- Main parent menu -->
    <menuitem id="menu_vehicle_services"
              name="Vehicle Booking Services"
    />

    <!--    menu vehicle booking-->
    <menuitem id="menu_vehicle_service_booking"
              name="Booking"
              parent="menu_vehicle_services"
              action="action_vehicle_service_booking"
              sequence="1"

    />

    <!-- Submenu for customer -->
    <menuitem id="menu_vehicle_customer"
              name="Customer"
              parent="menu_vehicle_services"
              action="action_vehicle_customer"
              sequence="2"
    />
    <!-- Submenu for vehicle -->
    <menuitem id="menu_vehicle_record"
              name="Vehicle"
              parent="menu_vehicle_services"
              action="action_vehicle_record"
              sequence="3"
    />
</odoo>